*
  margin 0
  padding 0

body
  font-family 'Open Sans', Helvetica Neue, Helvetica, sans-serif
  font-weight 100

h1
  font-family Helvetica Neue, 'Open Sans', Helvetica, sans-serif

textarea
  padding-left 8px
  padding-right 8px
  padding-top 4px
  box-sizing border-box
  -moz-box-sizing border-box

.fb_iframe_widget
  padding-left 8px
  padding-right 8px
  margin-bottom 12px

#ui
  padding 10px

  button
    padding 3px 4px 4px 4px

  h1
    padding 8px
    height 64px
    font-weight 100
    font-size 48px
    vertical-align top
    margin-bottom 32px
    border-bottom 1px solid #eee

    img
      position relative
      width 35px
      top 1px

  p
    margin-bottom 1em
    padding-left 58px

  ul
    display table
    padding-left 59px

  li
    line-height 2em
    display table-row

    >*
      display table-cell
      padding-right 12px

    button
      padding-right 4px

#editor
  position: absolute;
  top: 0px;
  left: 360px;
  width: -webkit-calc(100% \- 360px);
  width: calc(100% \- 360px);
  box-sizing border-box
  -moz-box-sizing border-box
  padding-left 28px
  padding-right 4px
  padding-top 20px
  border-left 1px solid #ccc
  background: #f8f8f8;
  height: 100%;
  z-index: 10;
  overflow: auto;
  display: none;
  white-space: nowrap;

  textarea
    font-family "Open Sans", Helvetica Neue, Helvetica, sans-serif
    font-weight normal
    font-size 14px

  &.editor
    display: block;

  >div
    width 100%
    height -webkit-calc(100% \- 50px)
    height calc(100% \- 50px)
    //overflow auto

  h3
    font-weight normal
    margin-bottom 8px
    margin-top 8px

    span
      color #686

  #slide-title
    display block
    max-width 700px

  #narrative
    display inline-block
    width 400px
    vertical-align top
    margin-top 19px

    textarea
      height 600px

    label
      display block

  #slides
    display inline-block
    width 280px
    vertical-align top
    margin-right 20px
    margin-top 4px

  div+label
    display block

  .slide-editor

    .published
      margin-top 8px
      margin-bottom 12px

    #notes
      height 400px

    #script
      height 400px

  .input-field
      margin-top 8px
      margin-bottom 0px

  label
    font-weight normal
    font-size 80%
    position relative
    top 1px

  input[type=checkbox]
    margin-left 4px
    margin-right 8px
    width inherit

  input
    outline 0
    margin-left: 0px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing border-box
    border: 0;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    font-size 120%
    transition 0.3s
    -webkit-transition 0.3s
    &:active
      background white
      box-shadow 0px 2px 6px rgba(0,0,0,0.4)

  textarea
    outline 0
    width 100%
    height 800px
    height -webkit-calc(100% \- 40px)
    height calc(100% \- 40px)
    border 0
    background rgba(255,255,255,0.9)
    box-shadow 0px 2px 4px rgba(0,0,0,0.3)
    -webkit-transition 0.3s
    transition 0.3s
    &:active
      background white
      box-shadow 0px 3px 8px rgba(0,0,0,0.4)


#container
  position absolute
  left 0px
  top 0px
  width 100%
  height 100%
  overflow hidden
  cursor default

  &.editor
    overflow-y auto
    overflow-x hidden
    width 360px

    .slide
      width 320px
      height 180px
      display inline-block
      display -webkit-box
      display -webkit-flex
      display flex
      opacity 1
      left 10px
      position relative
      box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
      transition: box-shadow 0.5s;
      -webkit-transition: box-shadow 0.5s;
      margin-bottom 10px

      &.current, &.previous
        left 10px
        z-index 1

      &.current
        z-index 2
        box-shadow: 0px 1px 8px rgba(0,0,0,0.7);


  .slide
    left 0px
    top 0px
    width 100%
    height 100%
    background white
    overflow hidden
    position absolute
    display block
    text-align center
    display -webkit-box
    -webkit-box-align center
    -webkit-box-pack center
    -webkit-box-orient vertical
    display -webkit-flex
    -webkit-align-items center
    -webkit-justify-content center
    -webkit-flex-direction column
    display flex
    align-items center
    justify-content center
    flex-direction column
    opacity 0
    left 20%
    z-index 1
    transition 0.5s opacity, 0.5s left
    -webkit-transition 0.5s opacity, 0.5s left

    iframe
      display none
      border 0

    &.current
      opacity 1
      left 0%
      z-index 2

      iframe
        display inline-block

    &.previous
      left 20%
      z-index 0

      iframe
        display inline-block

    .text
      display inline-block
      width 100%
      //position absolute
      font-size 350%
      z-index 2
      margin 2%

      p:nth-child(n+2)
        font-size 75%

    .comment
      display none

    .embed
      display -webkit-box
      -webkit-box-align center
      -webkit-box-pack center
      -webkit-box-orient vertical
      display -webkit-flex
      -webkit-align-items center
      -webkit-justify-content center
      -webkit-flex-direction column
      display flex
      align-items center
      justify-content center
      flex-direction column

      width 100%
      z-index 1
      height 65%

      .twitter-container
        display inline-block

      .attrib
        //position absolute
        right 2%
        bottom 10px
        color white
        font-weight 300
        text-shadow 1px 1px 2px rgba(0,0,0,0.75)

      img
        height 100%

      &.standalone
        bottom 0
        height 100%
        overflow hidden

        &:after, &:before
          position absolute
          top 50%
          margin-top -25px
          display block
          width 50px
          height 50px
          border-radius 25px
          background rgba(255,255,255,0.3)
          font-size 36px
          color black
          z-index 2

        &:after
          content ">"
          right 25px
          text-indent 3px

        &:before
          content "<"
          left 25px
          text-indent -2px

    .bg
      display block
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      background-repeat no-repeat
      background-position center center
      background-size cover
      z-index 0

  .slide.s0 .text
    font-size 640%